.StartPage{
  background-color: white;
  margin-top: 20%;
  margin-left: 30%;
}

.HomePage {

width: 60%;
padding: 100px;
text-align: center;
}

#StudentInfo {

border: 3px solid #76AD21;

}

#AssignentParts{

border: 3px solid #78AD31;
border-top: 0px;

}


body { font-family: Courier;}
* {box-sizing: border-box}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #9494b8;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  font-size: 20px;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.loginbtn{
  background-color: blue;
}
.delete_button{
  background-color: red;
}
.edit_button{
background-color: blue;
}
.edit_button, .delete_button {
  float: left;
  width: 50%;

}

.container {
  padding: 10px;
  float: left;
  width: 50%;

}

.url_container{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
